= form_for @admin do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, 'Nombre'
    = f.text_field :name, class: 'form-control', placeholder: 'ej. Juan'

  .form-group
    = f.label :identification, 'Identificación'
    = f.text_field :identification, class: 'form-control', placeholder: 'ej. 1094891516'

  .form-group
    = f.label :email, 'Correo electrónico'
    = f.text_field :email, class: 'form-control', placeholder: 'ej. daniel645@gmail.com'

  .form-group
    = f.label :phone, 'Teléfono'
    = f.text_field :phone, class: 'form-control', placeholder: 'ej. 310 3424836'

  = f.submit 'Guardar', class: 'btn btn-success btn-outline'
  - unless @admin.new_record?
    = link_to 'Eliminar', @admin, class: 'btn btn-danger btn-outline delete', data: {message: 'Se encuentra a punto de eliminar un administrador'}
  = link_to 'Atrás', admins_path, class: 'btn btn-primary btn-outline'