= form_for @client do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, 'Nombre'
    = f.text_field :name, class: 'form-control', placeholder: 'ej. Juan'

  .form-group
    = f.label :email, 'Correo electrónico'
    = f.text_field :email, class: 'form-control', placeholder: 'ej. daniel645@gmail.com'

  .form-group
    = f.label :identification, 'Identificación'
    = f.text_field :identification, class: 'form-control', placeholder: 'ej. 1094891516'

  .form-group
    = f.label :phone, 'Teléfono'
    = f.text_field :phone, class: 'form-control', placeholder: 'ej. 310 3424836'

  .form-group
    %label Juegos
    = collection_check_boxes :client, :game_ids, Game.all_actives, :id, :name do |b|
      .checkbox
        = b.label { b.check_box + b.text }

  = f.submit 'Guardar', class: 'btn btn-success btn-outline'
  - unless @client.new_record?
    = link_to 'Eliminar', @client, class: 'btn btn-danger btn-outline inactivate', data: {message: 'Se encuentra a punto de inactivar un cliente'}
  = link_to 'Atrás', clients_path, class: 'btn btn-primary btn-outline'