= form_for @client do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, 'Nombre'
    = f.text_field :name, class: 'form-control', placeholder: 'ej. Juan'

  .form-group
    = f.label :identification, 'Identificación'
    = f.text_field :identification, class: 'form-control', placeholder: 'ej. 1094891516'

  .form-group
    = f.label :phone, 'Teléfono'
    = f.text_field :phone, class: 'form-control', placeholder: 'ej. 310 3424836'

  = f.submit 'Guardar', class: 'btn btn-success btn-outline'
  = link_to 'Atrás', clients_path, class: 'btn btn-primary btn-outline'