- @view_name = 'Clientes'

= render 'shared/resource_navbar', link_message: 'Agregar cliente', resource: Client

- unless @clients.empty?
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Nombre
          %th Correo eletrónico
          %th Identificación
          %th Teléfono
          %th Acciones
      %tbody
        - @clients.each do |client|
          %tr
            %td= client.id
            %td= client.name
            %td= client.email
            %td= client.identification
            %td= client.phone
            %td
              = link_to client, class: 'btn btn-primary' do
                %span.glyphicon.glyphicon-search
              = link_to edit_client_path(client), class: 'btn btn-warning' do
                %span.glyphicon.glyphicon-pencil
              = link_to client, class: 'btn btn-danger inactivate', data: {message: 'Se encuentra a punto de inactivar un cliente'} do
                %span.glyphicon.glyphicon-trash
  = will_paginate @clients